<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<meta charset="utf-8">
			<title>Spring practice</title>
	</head>
	
	<body>
		<h1>Order List</h1>
		
		<div th:each="hamburger:${hamburgers}">
			<div th:text = "${hamburger.id}">
			</div>
			<div th:text = "${hamburger.name}">
			</div>
			<div th:text = "${hamburger.createdAt}">
			</div>
		</div>
			
		<form method="GET" th:action="@{/}">
		<button>Home</button>
	</form>
	</body>
</html>